html{
    max-width: 980px;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    font-size: 18px;
}

h1{
    color: #777;
    background: #ebebeb;
}

p{
    color: #777;
    background: #ebebeb;
}



header{
    background: #ebebeb;
    background-origin: padding-box;
    padding: 33px;
    text-align:center;
    margin-bottom: 10px;   
    font-size: 25px;
    width: 100%;
    
}

nav{
    background: #ebebeb;
    background-origin: padding-box;
    padding: 33px;
    text-align: center;
    margin-bottom: 10px;  
    font-size: 25px; 
    width: 100%;
}

section{
    background: #ebebeb;
    background-origin: padding-box;
    padding: 200px;
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    width: 50px;;   
    position: relative;
    float: left; 
    margin-right: 5px;
    border: dotted 1px;
    margin-left: 50px;
             
}

article{
    background: #ebebeb;
    background-origin: padding-box; 
    padding: 200px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    width: 50px;
    float: right;
    position: relative;
    margin-left: 5px;
    border: dotted 1px;
}

aside{
    background: #ebebeb;
    padding: 100px;
    text-align: center;
    margin-top: -445px;
    font-size: 25px;
    margin-top: 10px;
    width:100px;
    float: right;
    z-index: 1px;
    
}                        

footer{
    color:#777;
    background:#ebebeb;
    padding: 33px;
    text-align:center;
    margin-top: 10px;
    font-size: 25px;
    width: 100%;
}